#ignore the eu-flood-dataset
eu-flood-dataset/

#ignore the cityscape dataset
data/leftImg8bit/

#ignore the data
data/test_data/

#ignore the data
data/train
data/test
data/val
data/test.zip
data/train.zip
data/val.zip

#ignore the features
features/

#igore the pytorch model
baseline/itried.pt
